@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Karla', sans-serif;
    background-image: url("pattern.png");
    background-size: 40%;
    background-color: #0e1111;
    color: white;
    margin: 50px;
    height: 100%;
}

a {
  text-decoration:  none;
  color: inherit;
}

h1 {
  font-size:38px;
  text-align: left;
}

h2{
  position:relative;
  color:rgba(179, 179, 179, 0.225);
  font-size: 24px;
  margin-bottom: -17px;
  transition: 0.8s;
}

h2:hover {
  position:relative;
  color:white;
  opacity: 1;
  transition: 0.4s;

}

#logo{
  margin-top: 20px;
  position:absolute;
  display:inline-block;
}

#contact {
  font-size: 16px;
  font-weight: 505;
  border-radius: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-color:white;
  border-width: 1.5px;
  display: inline-block;
  height: auto;
  width: auto;
}

.header{
  margin-top: 10%;
  margin-right: 40%;
}

#link_icon {
  padding-left: 20px; 
}

#icon_link{
  text-decoration: none;
}

@media screen and (max-width: 800px) {
 
  h1 {
    font-size: 34px;
    text-align: left;
    margin-right: 10%;
  }
}

@media screen and (max-width: 450px) {

  h1 {
    font-size: 24px;
    text-align: left;
    margin-right: 10%;
  }

  h2 {
    font-size: 20px;
    margin-bottom: -14px;
  }
}