@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Karla', sans-serif;
    background-image: url("pattern.png");
    background-size: 40%;
    background-color: #0e1111;
    color: white;
    margin: 50px;
    height: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    background: red;
    display:  flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box{
    width: 300px;
    height: 500px;
    margin: 10px;
    border-radius: 25px;
    background: url(vh_icon.png);
    background-size: cover;
    background-position: center;
}

.img-box{
    width: 300px;
    height: 500px;
    margin: 10px;
    border-radius: 25px;
    background: url(vh_icon.png);
    background-size: cover;
    background-position: center;
}